.Person {
    border: 1px solid #dedede;
    border-radius: 5px;
    margin: 5px auto;
    padding: 5px;
    width: 50%;
}

.PersonBackground {
    background-color: #f2f2f2;
}

.PersonBackground:hover {
    background-color: #61dafb;
}

.Char {
    background-color: red;
}

.Person input {
    border-radius: 5px;
}

.PersonGreen {
    background-color: #29ffb2;
}

.PersonGreen:hover {
    background-color: #00e900;
}